[user]
	name = R
	email = r@rahulthakur.me

[core]
	excludesfile = ~/.gitignore_global

[color]
	ui = true

[color "status"]
	header = normal dim
	added = green bold
	updated = yellow
	changed = yellow
	untracked = red bold
	nobranch = red

[color "grep"]
	match = green bold

[color "interactive"]
	prompt = normal dim
	header = green
	help = blue
	error = red bold

[color "diff"]
    meta = white dim black dim
    frag = cyan bold
	plain = normal dim
	old = red
	new = green
	commit = yellow
	whitespace = normal black dim

[color "branch"]
	current = green bold
	local = magenta dim
	remote = red dim
	plain = normal dim

[fetch]
	prune = true

[push]
	default = current

[diff]
    tool = meld

[difftool]
    prompt = false

[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE" > /dev/null 2>&1

[merge]
	ff = true
    conflictstyle = diff3
    tool = meld

[mergetool "meld"]
    # cmd = meld "$BASE" "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED" > /dev/null 2>&1
    cmd = meld --diff "$BASE" "$LOCAL" --diff "$BASE" "$REMOTE" --diff "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED" > /dev/null 2>&1
    trustExitCode = true

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f

[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
