"*":
  Zen:
    gutter: true
    typewriter: true
    width: 100
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
    fuzzyMatch: true
  aligner:
    alignComments: true
  "aligner-php":
    "=-leftSpace": false
    "=>-leftSpace": false
  "atom-autocomplete-php":
    insertNewlinesForUseStatements: true
    verboseErrors: true
  "atom-beautify":
    general:
      _analyticsUserId: "d63c1e81-f0c2-47b0-8116-87e720539296"
      analytics: false
      muteUnsupportedLanguageErrors: true
    html:
      indent_inner_html: true
      indent_scripts: "separate"
      max_preserve_newlines: 2
    json:
      beautify_on_save: true
    php: {}
  "atom-material-ui":
    colors:
      abaseColor: "#756c84"
      accentColor: "#8ea960"
      genAccent: true
      paintCursor: true
      predefinedColor: "Purple"
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
      noTabMinWidth: true
      tintedTabBar: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-minify": {}
  "atom-package-deps":
    ignored: []
  "auto-copyright":
    owner: "R (r@rahulthakur.me)"
    template: "Copyright (c) %y by %o."
  "auto-update-packages": {}
  "autoclose-html": {}
  "autocomplete-php": {}
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
  autoprefixer: {}
  autosave:
    enabled: true
  "color-picker":
    preferredFormat: "HEX"
    uppercaseColorValues: true
  "command-palette":
    preserveLastSearch: true
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    customFileTypes:
      "source.ini": [
        ".buckconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "minimap"
      "minimap-highlight-selected"
      "tabs"
      "terminal-status"
      "travis-ci-status"
      "status-bar"
      "welcome"
      "styleguide"
      "package-generator"
      "open-on-github"
      "language-gfm"
      "link"
      "about"
      "background-tips"
      "intentions"
    ]
    excludeVcsIgnoredPaths: false
    projectHome: "/home/r/Documents/Work/Workspaces"
    telemetryConsent: "no"
    themes: [
      "nord-atom-ui"
      "ariake-dark-syntax"
    ]
    warnOnLargeFileLimit: 5
  "cursor-blink-interval":
    cursorBlinkInterval: 1000
  editor:
    backUpBeforeSaving: true
    fontFamily: "Mononoki"
    fontSize: 12
    invisibles: {}
    lineHeight: 3
    scrollPastEnd: true
    scrollSensitivity: 60
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
    tabLength: 4
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "a7118940-a776-5e76-08c6-0311f9b89de7"
  "file-icons":
    forceShow: true
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "find-and-replace":
    focusEditorAfterSearch: true
    projectSearchResultsPaneSplitDirection: "right"
    scrollToResultOnLiveSearch: true
  "fuzzy-finder":
    preserveLastSearch: true
    searchAllPanes: true
  "genesis-ui":
    distractionFree:
      hideSpotified: true
  "git-diff": {}
  "glowing-cursor":
    cursorWidth: 7
    glowDistance: 14
    transitionDuration: 800
  "gruvbox-plus-syntax":
    contrast: "Hard"
    variant: "No Dimmed Colors"
  "highlight-selected":
    hideHighlightOnSelectedWord: true
    highlightBackground: true
    onlyHighlightWholeWords: false
    showInStatusBar: false
  "keybinding-cheatsheet": {}
  "language-babel":
    autoIndentJSX: true
  "line-ending-selector":
    defaultLineEnding: "LF"
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
    useGitHubStyle: true
  minimap:
    plugins:
      "highlight-selected": true
    scrollAnimation: true
    scrollAnimationDuration: 250
    textOpacity: 0.5
  "nord-atom-syntax":
    accessibility:
      commentContrast: 1
  "nord-atom-ui":
    darkerFormFocusEffect: true
  nuclide:
    installRecommendedPackages: true
    "nuclide-adb-logcat": {}
    "nuclide-arcanist": {}
    "nuclide-buck": {}
    "nuclide-clang-atom": {}
    "nuclide-code-format":
      formatOnSave: true
    "nuclide-console": {}
    "nuclide-datatip": {}
    "nuclide-debugger-hhvm": {}
    "nuclide-debugger-lldb-client": {}
    "nuclide-distraction-free-mode":
      hideStatusBar: true
      hideToolBar: true
    "nuclide-file-tree":
      revealFileOnSwitch: true
    "nuclide-flow":
      enableStructuredTypeHints: true
    "nuclide-format-js": {}
    "nuclide-hack": {}
    "nuclide-health": {}
    "nuclide-home":
      showHome: false
    "nuclide-ios-simulator-logs": {}
    "nuclide-ocaml": {}
    "nuclide-python": {}
    "nuclide-react-native": {}
    "nuclide-working-sets": {}
  "one-dark-ui":
    layoutMode: "Compact"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "php-cs-fixer":
    executeOnSave: true
    rules: "@PSR4"
  "php-debug":
    currentPanelMode: "bottom"
  "php-integrator-autocomplete-plus":
    disableBuiltinAutocompletion: false
  "php-integrator-base":
    insertNewlinesForUseStatements: true
  "php-integrator-linter":
    showUnknownClasses: false
    validateDocblockCorrectness: false
  "php-integrator-symbol-viewer":
    defaultShowInherited: true
  pigments:
    groupPaletteColors: "by file"
    markerType: "dot"
    sortPaletteColors: "by color"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    prettierOptions:
      jsxBracketSameLine: true
      singleQuote: true
      tabWidth: "4"
    useEslint: true
  "pretty-json":
    prettifyOnSaveJSON: true
  "project-manager":
    alwaysOpenInSameWindow: true
    includeGitRepositories: true
    sortBy: "title"
  react:
    enabledForAllJavascriptFiles: true
  "remote-atom":
    keep_alive: true
    launch_at_startup: true
  "save-session":
    dataSaveFolder: "/Users/rahulthakur/.atom/packages/save-session/projects"
  "seti-syntax":
    themeColor: "Steel"
  "seti-ui":
    fileIcons: false
    font: "Default Atom Font"
    hideTabs: true
    themeColor: "Red"
  "spell-check":
    addKnownWords: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "status-bar": {}
  tabs:
    enableVcsColoring: true
    tabScrolling: true
    usePreviewTabs: true
  "tabs-to-spaces":
    onSave: "untabify"
  "terminal-plus":
    style:
      fontFamily: "Mononoki"
      fontSize: "9px"
      theme: "homebrew"
  "terminal-status":
    WindowHeight: 10
  "todo-show":
    openListInDirection: "down"
    sortBy: "Path"
  "tool-bar":
    visible: false
  "trailing-spaces":
    enableForIndentation: true
  "travis-ci-status": {}
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".coffee.jsx.source":
  editor:
    autoIndentOnPaste: true
".hack.html.text":
  editor:
    softWrapHangingIndent: 2
    tabLength: 4
".hackfragment.source":
  editor:
    softWrapHangingIndent: 2
    tabLength: 4
".hg-commit.text":
  editor:
    softWrapHangingIndent: 2
    tabLength: 4
".json.source":
  editor:
    softWrapAtPreferredLineLength: true
