"*":
  "advanced-open-file": {}
  "atom-autocomplete-php":
    insertNewlinesForUseStatements: true
    verboseErrors: true
  "atom-beautify":
    general:
      _analyticsUserId: "d63c1e81-f0c2-47b0-8116-87e720539296"
    html:
      indent_inner_html: true
      indent_scripts: "separate"
      max_preserve_newlines: 2
  "atom-material-ui":
    colors:
      abaseColor:
        red: 96
        green: 125
        blue: 139
        alpha: 1
      genAccent: true
      predefinedColor: "Blue Grey"
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-minify": {}
  "auto-copyright":
    owner: "Rahul Thakur"
    template: "&copy; 2015 R (r@rahulthakur.me)"
  "auto-update-packages": {}
  "autoclose-html": {}
  "autocomplete-php": {}
  autoprefixer: {}
  autosave:
    enabled: true
  "color-picker":
    preferredFormat: "HEX"
    uppercaseColorValues: true
  core:
    disabledPackages: [
      "markdown-preview"
      "minimap"
      "minimap-highlight-selected"
      "status-bar"
      "tabs"
      "terminal-status"
      "todo-show"
      "travis-ci-status"
      "php-cs-fixer"
      "php-integrator-linter"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".DS_Store"
      ".vagrant"
      "_site"
      ".sass-cache"
      ".idea .brackets.json"
    ]
    themes: [
      "atom-material-ui"
      "base16-ocean-dark-syntax-theme"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Andale Mono"
    invisibles: {}
    lineHeight: 2
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapHangingIndent: 2
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "a7118940-a776-5e76-08c6-0311f9b89de7"
  "file-icons":
    forceShow: true
  "genesis-ui":
    distractionFree:
      hideSpotified: true
  minimap:
    plugins:
      "highlight-selected": true
    scrollAnimation: true
    scrollAnimationDuration: 250
    textOpacity: 0.5
  "one-dark-ui":
    layoutMode: "Compact"
  "php-integrator-linter":
    showUnknownClasses: false
    validateDocblockCorrectness: false
  pigments:
    groupPaletteColors: "by file"
    markerType: "dot"
    sortPaletteColors: "by color"
  "project-manager":
    environmentSpecificProjects: true
    sortBy: "title"
  "remote-atom":
    keep_alive: true
    launch_at_startup: true
  "save-session":
    dataSaveFolder: "/Users/rahulthakur/.atom/packages/save-session/projects"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "status-bar": {}
  tabs:
    enableVcsColoring: true
    tabScrolling: true
    usePreviewTabs: true
  "terminal-status":
    WindowHeight: 10
  "trailing-spaces":
    enableForIndentation: true
  "travis-ci-status": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
