"*":
  "advanced-open-file": {}
  "atom-autocomplete-php":
    insertNewlinesForUseStatements: true
    verboseErrors: true
  "atom-beautify":
    general:
      _analyticsUserId: "d63c1e81-f0c2-47b0-8116-87e720539296"
    html:
      indent_inner_html: true
      indent_scripts: "separate"
      max_preserve_newlines: 2
  "atom-material-ui":
    colors:
      abaseColor:
        red: 255
        green: 167
        blue: 38
        alpha: 1
      accentColor:
        red: 159
        green: 105
        blue: 24
        alpha: 1
      genAccent: true
      paintCursor: true
      predefinedColor: "Orange"
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
      noTabMinWidth: true
      tintedTabBar: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-minify": {}
  "auto-copyright":
    owner: "Rahul Thakur"
    template: "&copy; 2015 R (r@rahulthakur.me)"
  "auto-update-packages": {}
  "autoclose-html": {}
  "autocomplete-php": {}
  autoprefixer: {}
  autosave:
    enabled: true
  "color-picker":
    preferredFormat: "HEX"
    uppercaseColorValues: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "markdown-preview"
      "minimap"
      "minimap-highlight-selected"
      "status-bar"
      "tabs"
      "terminal-status"
      "todo-show"
      "travis-ci-status"
      "php-cs-fixer"
      "php-integrator-linter"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".DS_Store"
      ".vagrant"
      "_site"
      ".sass-cache"
      ".idea .brackets.json"
    ]
    themes: [
      "atom-material-ui"
      "gruvbox-plus-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Andale Mono"
    invisibles: {}
    lineHeight: 2
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapHangingIndent: 2
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "a7118940-a776-5e76-08c6-0311f9b89de7"
  "file-icons":
    forceShow: true
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "genesis-ui":
    distractionFree:
      hideSpotified: true
  "gruvbox-plus-syntax": {}
  minimap:
    plugins:
      "highlight-selected": true
    scrollAnimation: true
    scrollAnimationDuration: 250
    textOpacity: 0.5
  nuclide:
    installRecommendedPackages: true
    "nuclide-adb-logcat": {}
    "nuclide-arcanist": {}
    "nuclide-buck": {}
    "nuclide-clang-atom": {}
    "nuclide-code-format":
      formatOnSave: true
    "nuclide-console": {}
    "nuclide-datatip": {}
    "nuclide-debugger-hhvm": {}
    "nuclide-debugger-lldb-client": {}
    "nuclide-distraction-free-mode":
      hideStatusBar: true
      hideToolBar: true
    "nuclide-file-tree":
      revealFileOnSwitch: true
    "nuclide-flow":
      enableStructuredTypeHints: true
    "nuclide-format-js": {}
    "nuclide-hack": {}
    "nuclide-health": {}
    "nuclide-home":
      showHome: false
    "nuclide-ios-simulator-logs": {}
    "nuclide-ocaml": {}
    "nuclide-python": {}
    "nuclide-react-native": {}
    "nuclide-working-sets": {}
  "one-dark-ui":
    layoutMode: "Compact"
  "php-integrator-linter":
    showUnknownClasses: false
    validateDocblockCorrectness: false
  pigments:
    groupPaletteColors: "by file"
    markerType: "dot"
    sortPaletteColors: "by color"
  "project-manager":
    environmentSpecificProjects: true
    sortBy: "title"
  "remote-atom":
    keep_alive: true
    launch_at_startup: true
  "save-session":
    dataSaveFolder: "/Users/rahulthakur/.atom/packages/save-session/projects"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "status-bar": {}
  tabs:
    enableVcsColoring: true
    tabScrolling: true
    usePreviewTabs: true
  "terminal-status":
    WindowHeight: 10
  "tool-bar":
    visible: false
  "trailing-spaces":
    enableForIndentation: true
  "travis-ci-status": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".hack.html.text":
  editor:
    softWrapHangingIndent: 2
    tabLength: 4
".hackfragment.source":
  editor:
    softWrapHangingIndent: 2
    tabLength: 4
".hg-commit.text":
  editor:
    softWrapHangingIndent: 2
    tabLength: 4
