packages: [
  "advanced-open-file"
  "aligner"
  "aligner-javascript"
  "aligner-php"
  "ariake-dark-syntax"
  "atom-beautify"
  "atom-html-preview"
  "atom-jshint"
  "atom-material-syntax"
  "atom-material-ui"
  "atom-minify"
  "auto-copyright"
  "autoclose-html"
  "autocomplete-html-entities"
  "autocomplete-php"
  "autoprefixer"
  "base16-ocean-dark-syntax-theme"
  "best-js-snippets"
  "bracket-padder"
  "busy-signal"
  "color-picker"
  "editorconfig"
  "file-icons"
  "firewatch-green-syntax"
  "firewatch-syntax"
  "genesis-syntax"
  "genesis-ui"
  "gloom"
  "gruvbox-plus-syntax"
  "highlight-selected"
  "hyperclick"
  "intentions"
  "js-hyperclick"
  "keybinding-cheatsheet"
  "language-babel"
  "language-docker"
  "language-jade"
  "language-liquid"
  "language-markdown"
  "laravel"
  "linter"
  "linter-php"
  "linter-ui-default"
  "markdown-preview-plus"
  "material-design-syntax"
  "merge-conflicts"
  "native-ui"
  "nord-atom-syntax"
  "nord-atom-ui"
  "northem-dark-atom-syntax"
  "northem-dark-atom-ui"
  "nucleus-dark-ui"
  "package-sync"
  "peacocks-in-space-syntax"
  "php-cs-fixer"
  "php-debug"
  "php-integrator-annotations"
  "php-integrator-autocomplete-plus"
  "php-integrator-base"
  "php-integrator-call-tips"
  "php-integrator-linter"
  "php-integrator-navigation"
  "php-integrator-refactoring"
  "php-integrator-symbol-viewer"
  "php-integrator-tooltips"
  "prettier-atom"
  "project-manager"
  "react-snippets"
  "seti-syntax"
  "seti-ui"
  "spacegray-dark-neue-syntax"
  "spacegray-dark-neue-ui"
  "tabs-to-spaces"
  "todo-show"
  "trailing-spaces"
  "Zen"
]
