packages: [
  "advanced-open-file"
  "atom-beautify"
  "atom-html-preview"
  "atom-jshint"
  "atom-minify"
  "auto-copyright"
  "auto-update-packages"
  "autocomplete-php"
  "autoprefixer"
  "base16-ocean-dark-syntax-theme"
  "color-picker"
  "emmet"
  "file-icons"
  "gist-it"
  "git-control"
  "highlight-selected"
  "language-jade"
  "language-liquid"
  "markdown-preview-plus"
  "merge-conflicts"
  "minimap"
  "minimap-highlight-selected"
  "package-sync"
  "php-cs-fixer"
  "php-debug"
  "project-manager"
  "save-session"
  "svg-preview"
  "tabs-to-spaces"
  "terminal-status"
  "todo-show"
  "trailing-spaces"
  "travis-ci-status"
]
