BowINIT:
  title: "BowINIT"
  paths: [
    "/Users/rahulthakur/Documents/Work/Workspaces/BowINIT"
  ]
dotFiles:
  title: "dotFiles"
  paths: [
    "/Users/rahulthakur/Documents/Work/Workspaces/dotFiles"
  ]
R:
  title: "R"
  paths: [
    "/Users/rahulthakur/Documents/Work/Workspaces/R"
  ]
Musejam:
  title: "Musejam"
  paths: [
    "/Users/rahulthakur/Documents/Work/Musejam/musejam-app"
  ]
Zk:
  title: "Zk"
  paths: [
    "/Users/rahulthakur/Documents/Work/catCorp/Zk"
  ]
