[
  {
    title: "Referyaar Master"
    group: "Referyaar"
    paths: [
      "/home/r/Documents/Work/Workspaces/referyaar-master"
      "/home/r/Documents/Work/Indrik/referyaar.wiki"
    ]
    php:
      enabled: true
      php_integrator:
        enabled: true
        phpVersion: 5.6
        excludedPaths: []
        fileExtensions: [
          "php"
        ]
  }
  {
    title: "Referyaar Android"
    group: "Referyaar"
    paths: [
      "/home/r/Documents/Work/Workspaces/referyaar-android"
    ]
  }
  {
    title: "Referyaar React"
    group: "Referyaar"
    paths: [
      "/home/r/Documents/Work/Workspaces/referyaar-react"
    ]
  }
  {
    title: "Referyaar Wiki"
    group: "Referyaar"
    paths: [
      "/home/r/Documents/Work/Workspaces/referyaar.wiki"
    ]
  }
  {
    title: "4P World Website"
    group: "4P"
    paths: [
      "/home/r/Documents/Work/Workspaces/4p-world-website"
      "/home/r/Documents/Work/Workspaces/4p-world-website.wiki"
    ]
    devMode: true
  }
  {
    title: "Armada"
    group: "4P"
    paths: [
      "/home/r/Documents/Work/Workspaces/armada"
      "/home/r/Documents/Work/Workspaces/armada.wiki"
    ]
    devMode: true
  }
]
