[
  {
    title: "Referyaar Master"
    group: "Referyaar"
    paths: [
      "/home/r/Documents/Work/Workspaces/referyaar-master"
    ]
  }
  {
    title: "Referyaar Android"
    group: "Referyaar"
    paths: [
      "/home/r/Documents/Work/Workspaces/referyaar-android"
    ]
  }
  {
    title: "Referyaar React"
    group: "Referyaar"
    paths: [
      "/home/r/Documents/Work/Workspaces/referyaar-react"
    ]
  }
  {
    title: "Referyaar Wiki"
    group: "Referyaar"
    paths: [
      "/home/r/Documents/Work/Workspaces/referyaar.wiki"
    ]
  }
]
