'.source.js':
    'eslint-disable':
        'prefix': 'esd'
        'body': '/* eslint-disable $1 */'

    'eslint-enable':
        'prefix': 'ese'
        'body': '/* eslint-disable $1 */'

    'eslint-disable-enable':
        'prefix': 'es'
        'body': """
        /* eslint-disable $1 */
        /* eslint-enable $1 */
        """
